<div class="container">
    <h1>Giphy Search</h1>
    <hr>
    
    <input class="form-control" name="search" #searchTerm>
    <button class="btn btn-outline-warning" (click)="performSearch(searchTerm)">Search</button>
    <hr>
    <div class="container">
      <div class="row">
    <!-- //the code below gets the images one by one by passing through the gifs array. to load image we attached the path on the src" -->
    <!-- <div class="col-md" id="blue"> -->
    <img *ngFor='let gif of gifs, let i=index' src="{{gifs[i].images.fixed_width_downsampled.url}}" alt="" id="blue">
    </div>
        </div>
    </div>
